*{
    font-family: sans-serif;
    text-decoration: none;
    color: #B3E2A7;
}
body{
background-color: #538392;
margin:0;
overflow: hidden;
}
nav{
display: flex;
text-align: center;
align-items: center;
justify-content: space-between;
background-color:#6b958c;
color: #000;
height: 40px;
width: 100%;
}
a{
font-size: 25px;
color: #B3E2A7;
}
.h1t{
font-size: 20px;
}
.h1t, nav a{
margin: 0px;
padding: 5px;
}
.hh{
padding-right: 10px;
}
.allweb{
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
}
.row1,.row2,.row3{
display: flex;
}
.allgame{
z-index: 1;
position: absolute;
margin-top: 100px;
border-radius: 15px;
width: 80%;
height: 500px;
}
.left7,.left4,.left1{
border-left: none;
}
.left7,.left8,.left9{
border-bottom: none;
}
.left1,.left2,.left3{
border-top: none;
}
.right,.left3,.left9{
border-right: none;
}
button{
background-color:#538392 ;
z-index: 0;
border: solid #B3E2A7;
width: 100%;
height: 108.5px;
font-size: 40px;
}
.squaregame{
background-color: rgb(255, 255, 255);
width:100% ;
height: 65%;
}
.allgame h1{
text-align: center;

}
.end{
margin: 0;
display: flex;
flex-direction: column;
align-items: center;
}
.replay{
background-color:#6b958c;
border: none;
width: 45%;
height: 28.5px;
font-size: 23px;
border: none;
border-radius: 7px;
}
#HT{
padding: 0;
font-size: 27px;
}
.stop{
position: absolute;
z-index:3;
width: 100%;
height: 75%;
display: none;
}
.hh{
margin:5px;
}
